node_red_data/.flows.json.backup
[
    {
        "id": "8cdecdd91851917b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9756f2e7293f37ca",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "251952270f19b7cf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.18.55.14",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2a040cd636755137",
        "type": "inject",
        "z": "8cdecdd91851917b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 600,
        "wires": [
            [
                "1b198d528ea87230"
            ]
        ]
    },
    {
        "id": "1b198d528ea87230",
        "type": "function",
        "z": "8cdecdd91851917b",
        "name": "function 1",
        "func": "// Giả lập nhiệt độ 20-30, độ ẩm 40-60\nmsg.payload = [\n    Math.floor(Math.random() * 10) + 20, // Thanh ghi 0: Nhiệt độ\n    Math.floor(Math.random() * 20) + 40  // Thanh ghi 1: Độ ẩm\n];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 620,
        "wires": [
            [
                "277bbca44e65bf79",
                "357eee17c14cb1bb"
            ]
        ]
    },
    {
        "id": "dddad67be5512eab",
        "type": "modbus-server",
        "z": "8cdecdd91851917b",
        "name": "",
        "logEnabled": false,
        "hostname": "0.0.0.0",
        "serverPort": 10502,
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": 10000,
        "holdingBufferSize": 10000,
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": false,
        "showStatusActivities": false,
        "x": 420,
        "y": 720,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "277bbca44e65bf79",
        "type": "modbus-write",
        "z": "8cdecdd91851917b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "2",
        "server": "9756f2e7293f37ca",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "357eee17c14cb1bb",
        "type": "mqtt out",
        "z": "8cdecdd91851917b",
        "name": "",
        "topic": "sensor/data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "251952270f19b7cf",
        "x": 850,
        "y": 560,
        "wires": []
    }
]